
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Posts</title>
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
</head>
<footer>
    <p>&copy; {{ 'now'|date('Y') }} TheBlog. All rights reserved.</p>
</footer>